In [1]:
print ('Hello')

Hello

In [1]:
#number types

In [2]:
type(1)

int

In [3]:
type(0.5)

float

In [4]:
1/8

0.125

In [5]:
2**6

64

In [7]:
4 % 2

#mod

0

In [8]:
#strings

In [9]:
'string'

'string'

In [10]:
"double"

'double'

In [11]:
"I don't like to be in a hurry"

"I don't like to be in a hurry"

In [13]:
print('double')

double

In [17]:
#format method

print('My name is {}'.format('ümit'))

My name is ümit

In [22]:
print("First {x} first {y}".format(x = 'in',y = 'out'))

#if you use a variable you have to define it (x = 1 , y = 'out')

First in first out

In [46]:
#lists

mylist = [1,2,3,'a']

In [47]:
mylist

[1, 2, 3, 'a']

In [26]:
mylist[0] #first item

#indexing

1

In [27]:
mylist[3]

'a'

In [28]:
mylist[-1]

'a'

In [29]:
mylist.append(11)

In [30]:
mylist

[1, 2, 3, 'a', 11]

In [31]:
mylist2 = [1,2,[100,200]]

In [32]:
mylist2

[1, 2, [100, 200]]

In [33]:
mylist2[2][1]

200

In [38]:
#dictionaries

d= {'key1' : 'value1', 'second' : 3}

In [39]:
d['second']

3

In [40]:
#booleans

True

False

False

In [42]:
#tuples 

#immutable

mylist3 = (1,2,3)

In [43]:
mylist3[0]

1

In [44]:
mylist3.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [48]:
#sets 

#unique elements

myset = {1,1,1,1,1,2,2,2,2,3,3,3,3}

In [49]:
myset

{1, 2, 3}